[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
daphne = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
cryptography = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
debugpy = "*"
ipython = "*"
django-extensions = "*"

[requires]
python_version = "3.9"
